<body style="background-color: white">

<div  style="height: 1000px; background: linear-gradient(rgba(148, 148, 148, 0.4), rgba(58, 58, 58, 0.4)), url('assets/macs.jpg');   background-size: cover;">

<div style="padding-top: 800px;">

<p style=" font-size: 40px; font-family: 'Century Gothic'; color: white; padding-left: 30px;">Dark Choloate Coconut Macaroon Cups</p>
<em> <strong> <p style=" font-size: 18px; font-family: 'Lora'; color: #ff8000; padding-left: 30px;">By The Frosted Vegan</p> </strong> </em>

</div>
</div>

<div style="padding: 20px; width: 100%; height: 700px">

<p style="font-family:avenir; font-size: 20px">If you aren’t a coconut lover, this recipe probably isn’t for you, just a warning (do you like peanut butter? Then try these instead). My love affair with homemade candy cups is continuing and it’s going in a coconut macaroon direction this time. It’s been baffling to me all my life that some people *hate* coconut and don’t want a thing to do with it. As for me, I was always the one rooting around those boxes of Russell Stover candy, looking for the coconut ones and leaving almost all the others behind (props to my grandparents, who are blog readers and always give us small boxes of candy for Christmas every year!). If I had it my way, the world would be all haystacks and coconut flavored things, I’ll take it all please. Outside of regular shredded coconut, coconut oil has obviously become a vegan baking favorite around here. So far, it’s been the best thing I’ve found to replace vegan butter in baking and has all kinds of perfect qualities that make it a spot on replacement. The one coconut product I hadn’t done much with until this recipe was coconut butter and man was I missing out! Coconut butter is basically blended up coconut, thicker than coconut oil and way more spreadable. I used the butter to give the filling for these cups a little more heft and shredded coconut went inside the cups and right on top, since we are living life here.</p>

 <img class="img-responsive" src="assets/macs2.jpg" alt="" style="width: 100%;">
<p style="font-family:avenir; font-size: 20px">As with any other cups I’ve made, I wouldn’t pass up the cupcake liners when you go to make these. The liners make things so much easier when taking them out and gives them that perfect ridged edge that any good macaroon cups should have. I can’t go without thanking a reader who suggested these as a flavor combo on my Popped Amaranth Peanut Butter Cups recipe. I can’t remember who it is, but whoever you are, you are brilliant and these were well worth trying out!</p>

 <img class="img-responsive" src="assets/macs3.jpg" alt="" style="width: 100%;">



</div>



</body>

