<body style="background-color: #181a5a; color:white">

<div style="width: 60%; left: 0;right: 0;margin: auto; font-size: 25px; font-family: ">

<img class="img-responsive" src="assets/dwnld_logo.png" alt="" style="height: 170px;left: 0;right: 0;margin: auto;margin-top: 70px;">

<br>
<br>
<br>

<div style="margin-left:20%; margin-right:140px; width: 60%; border-bottom: 1px solid white;height: 35px">
	bounce@dwnld.me
</div>

<br>
<br>
<br>

<div style="margin-left:20%; width: 60%; border-bottom: 1px solid white;height: 35px">
	*************
</div>

<br>
<br>
<br>

<div style="text-align:center">
	
<a href="/latest" type="button" style="width: 350px; border: 1px solid #5959FF; border-radius: 0px; background-color: rgba(0, 0, 0, 0); height:50px; color: white; padding-top: 15px" class="btn btn-default">Sign In</a>

</div>

</div>

</body>