<body style="background-color: #EFEFEF">

<a href="/promotions" style="text-decoration: none">

<div  style="height: 650px; background: linear-gradient(rgba(148, 148, 148, 0.4), rgba(58, 58, 58, 0.4)), url('assets/dwnld_promotions.png'); text-decoration: none; background-size: cover;">

<div class="container" style="padding-top: 500px;">

<em> <strong> <p style=" font-size: 18px; font-family: 'Lora'; color: #ff8000;">Videos</p> </strong> </em>
<p style=" font-size: 40px; font-family: 'Century Gothic'; color: white;">DWNLD Promotions</p>

<img class="img-responsive" src="assets/dots.png" alt="" style="height: 20px;left: 0;right: 0;margin: auto;margin-top: 20px;">

</div>

</div>

</a>

<div style="padding-top: 50px;">
<div class="container">

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6">
                    <img class="img-responsive" src="assets/trap1.png" alt="" style="width: 100%;">
<div style="width: auto; background-color: white; height: 270px">
	
<em> <strong> <p style=" font-size: 16px; font-family: 'Lora'; color: #ff8000; padding:20px 20px 0px 20px;">Videos</p> </strong> </em>
<p style=" font-size: 30px; font-family: 'Century Gothic'; color: black; padding:0px 0px 0px 20px;">Tomsize & BISHU - Mystic</p>
<p style=" font-size: 18px; font-family: 'Avenir'; color: black; padding:0px 0px 0px 20px;">https://soundcloud.com/</p>

</div>
            <br>
            <br>
            </div>

<a href="/fjerry" style="text-decoration: none">

            <div class="col-md-4 col-sm-6 col-xs-6">
                    <img class="img-responsive" src="assets/fjerry.jpg" alt="" style="width: 100%;">
<div style="width: auto; background-color: white; height: 270px">

<em> <strong> <p style=" font-size: 16px; font-family: 'Lora'; color: #ff8000; padding:20px 20px 0px 20px;">Instagram</p> </strong> </em>
<p style=" font-size: 30px; font-family: 'Century Gothic'; color: black; padding:0px 0px 0px 20px;">When Your Friend Is Really Weird But You Guys Get Along Really Well</p>

</div>
</a>
            <br>
            <br>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
                    <img class="img-responsive" src="assets/trap3.png" alt="" style="width: 100%;">
<div style="width: auto; background-color: white; height: 270px">

<em> <strong> <p style=" font-size: 16px; font-family: 'Lora'; color: #ff8000; padding:20px 0px 0px 20px;">Videos</p> </strong> </em>
<p style=" font-size: 30px; font-family: 'Century Gothic'; color: black; padding:0px 20px 0px 20px;">The Chainsmokers - Let You Go ft. Great Good Fine Ok</p>

</div>
            <br>
            <br>
            </div>
        </div>
     </div>
    </div>


<div style="padding-top: 20px;">
<div class="container">

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6">
                    <img class="img-responsive" src="assets/zeus.jpg" alt="" style="width: 100%;">
<div style="width: auto; background-color: white; height: 270px">
	
<em> <strong> <p style=" font-size: 16px; font-family: 'Lora'; color: #ff8000; padding:20px 20px 0px 20px;">Ze Blog</p> </strong> </em>
<p style=" font-size: 30px; font-family: 'Century Gothic'; color: black; padding:0px 0px 0px 20px;">App Facts: Mysteries of App Making</p>
<p style=" font-size: 18px; font-family: 'Avenir'; color: black; padding:0px 0px 0px 20px;">Now you now the 101 of app development...</p>

</div>
            <br>
            <br>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                    <img class="img-responsive" src="assets/trap2.png" alt="" style="width: 100%;">
<div style="width: auto; background-color: white; height: 270px">

<em> <strong> <p style=" font-size: 16px; font-family: 'Lora'; color: #ff8000; padding:20px 20px 0px 20px;">Videos</p> </strong> </em>
<p style=" font-size: 30px; font-family: 'Century Gothic'; color: black; padding:0px 0px 0px 20px;">Wycleff Jean - Sweetest Girl (Gummy Remix)</p>

</div>
            <br>
            <br>
            </div>

<a href="/food" style="text-decoration: none">

            <div class="col-md-4 col-sm-12 col-xs-12">
                    <img class="img-responsive" src="assets/macaroon.jpg" alt="" style="width: 100%;">
<div style="width: auto; background-color: white; height: 270px">
	
<em> <strong> <p style=" font-size: 16px; font-family: 'Lora'; color: #ff8000; padding:20px 20px 0px 20px;">Good Eats</p> </strong> </em>
<p style=" font-size: 30px; font-family: 'Century Gothic'; color: black; padding:0px 0px 0px 20px;">Dark Choloate Coconut Macaroon Cups</p>
<p style=" font-size: 18px; font-family: 'Avenir'; color: black; padding:0px 0px 0px 20px;">Lorem ipsum dolor sit amet, </p>

</div>
            <br>
            <br>
            </div>
</a>

        </div>
     </div>
    </div>


<div style="padding-top: 20px;">
<div class="container">

        <!-- Projects Row -->
        <div class="row">

<a href="/fetty" style="text-decoration: none">

            <div class="col-md-4 col-sm-6 col-xs-6">
                    <img class="img-responsive" src="assets/fetty.jpg" alt="" style="width: 100%;">
<div style="width: auto; background-color: white; height: 270px">
	
<em> <strong> <p style=" font-size: 16px; font-family: 'Lora'; color: #ff8000; padding:20px 20px 0px 20px;">Soundcloud</p> </strong> </em>
<p style=" font-size: 30px; font-family: 'Century Gothic'; color: black; padding:0px 0px 0px 20px;">Monty Zoo Ft Fetty Wap - CashGreen</p>
<p style=" font-size: 18px; font-family: 'Avenir'; color: black; padding:0px 0px 0px 20px;">Get Yo' Fetty On #Wap</p>

</div>
            <br>
            <br>

</a>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
                    <img class="img-responsive" src="assets/foodie.jpg" alt="" style="width: 100%;">
<div style="width: auto; background-color: white; height: 270px">
	
<em> <strong> <p style=" font-size: 16px; font-family: 'Lora'; color: #ff8000; padding:20px 20px 0px 20px;">Good Eats</p> </strong> </em>
<p style=" font-size: 30px; font-family: 'Century Gothic'; color: black; padding:0px 0px 0px 20px;">Red Pepper Bruschetta with Roasted Garlic 'Ricotta'</p>

</div>
            <br>
            <br>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                    <img class="img-responsive" src="assets/vinem.jpg" alt="" style="width: 100%;">
<div style="width: auto; background-color: white; height: 270px">

<em> <strong> <p style=" font-size: 16px; font-family: 'Lora'; color: #ff8000; padding:20px 20px 0px 20px;">Vine Magician</p> </strong> </em>
<p style=" font-size: 30px; font-family: 'Century Gothic'; color: black; padding:0px 0px 0px 20px;">Teaching this cat to play chess</p>

</div>
            <br>
            <br>
            </div>
        </div>
     </div>
    </div>



</body>